name: Code Coverage

on:
  push:
    branches:
      - master
  pull_request:
    paths:
      - "src/**"
      - "tests/**"
      - "pyproject.toml"
      - "uv.lock"

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    concurrency:
      group: test-coverage-${{ github.ref }}-${{ matrix.python-version }}
      cancel-in-progress: true

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
        # os: [ubuntu-latest, windows-latest, macos-latest]

    env:
      # OS: ${{ matrix.os }}
      PYTHON_VERSION: ${{ matrix.python-version }}

    steps:
      - uses: actions/checkout@v5

      - name: setup uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
          python-version: ${{ matrix.python-version }}
          version: "latest"

      - name: setup ffmpeg
        uses: FedericoCarboni/setup-ffmpeg@v3

      - name: Install Dependencies for test group
        run: uv sync --no-dev

      - name: Run Pytest
        run: uv run --no-sync poe test

      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@v1
        with:
          env_vars: PYTHON_VERSION,PYDANTIC_VERSION
          use_oidc: true

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          env_vars: PYTHON_VERSION,PYDANTIC_VERSION
          use_oidc: true